<div class="footer">
    <div class="ui responsive grid">
        <div class="row">
            <div class="column">
				<div class="ui horizontal list">
                    <a href="" class="{{ css_page_about }} item">关于我们</a>
                    <a href="" class="{{ css_page_brand }} item">产品合作</a>
                    <a href="" class="{{ css_page_history }} item">成功案例</a>
                    <a href="" class="{{ css_page_prize }} item">联系我们</a>
                    <a href="" class="{{ css_page_prize }} item">加入我们</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="ui responsive grid">
		<div class="row">
			<div class="column">
                <p class="beian">Copyright © 2016 Nextai.com.All rights reserved. 营业执照【京ICP备14025430号】  北京市朝阳区望京利泽东园38号博泰嘉华东侧办公楼</p>
			</div>
        </div>
    </div>
</div>
{% include "block/qrcode.html" %}
