{%extends 'layout/base.html'%}
{% block title %}{{ product.title }}-{% endblock %}

{% block page_css %}
<style type="text/css">
.product.bread {
    background-color: #f7f7f7;
    margin: 0px auto 15px;
}
.ui.subnav.divided.list {
    margin: 0 10px 0 20px;
}
.ui.subnav.divided.list > .item {
    padding-left: 10px;
    padding-right: 10px;
}
.ui.breadcrumb a.section {
    color: #555;
}

#slider {
    padding: 20px;
    width: 960px;
    margin: 0px auto;
}
#slider .flex-viewport {
    height: 525px;
}
#slider .slides img {
    max-width: 100%;
    margin: 0px auto;
}
#carousel {
    width: 780px;
    margin: 0px auto 25px;
}
#carousel .slides img {
    width: 65px;
}
.flex-direction-nav a {
    width: 65px;
    height: 65px;
    top: 45%;
}
.flex-direction-nav a::before {
    font-size: 36px;
    color: #ff3366;
}
.flex-direction-nav a.flex-prev {
    left: -120px;
    text-align: center;
}
.flex-direction-nav a.flex-next {
    right: -120px;
    text-align: center;
}
.flexslider:hover .flex-direction-nav a.flex-prev {
    left: -30px;
}
.flexslider:hover .flex-direction-nav a.flex-next {
    right: -30px;
}

</style>
{% endblock %}

{% block jquery %}
    
    $('#carousel').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        itemWidth: 65,
        itemMargin: 10,
        asNavFor: '#slider'
    });

    $('#slider').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        sync: "#carousel",
        prevText: "",
        nextText: "",
    });
    
{% endblock %}

{% block content %}
<div class="product bread">
    <div class="ui responsive grid">
        <div class="row">
            <div class="column">
                <div class="ui breadcrumb">
                    <a class="section" href="{{ app_url_domain }}">首页</a>
                    <i class="right angle icon divider"></i>
                    <a class="section">商城</a>
                    <i class="right angle icon divider"></i>
                    <div class="active section">{{ product.title }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product info">
    <div class="ui responsive grid">
        <div class="two column row">
            <div class="column">
                {{ product.title }}
            </div>
            <div class="right aligned column">
				<div class="ui horizontal subnav divided list">
                    <a href="{{ app_url_shop }}/view?id={{ product._id }}" class="item">功能</a>
                    <a href="{{ app_url_shop }}/gallery?id={{ product._id }}" class="active item">图集</a>
                    <a href="{{ app_url_shop }}/specs?id={{ product._id }}" class="item">参数</a>
				</div>
                <a href="{{ app_url_shop }}/nowbuy?id={{ product._id }}" class="ui active inverted black tiny button">立即购买</a>
            </div>
        </div>
    </div>
</div>    
<div class="product content">   
    <div class="ui responsive grid">
        <div class="row">
            <div class="column">
                
                {% asset_list var:'assets' parent_id:product._id asset_type:12 size:20 %}
                <div id="slider" class="flexslider">
                    <ul class="slides">
						{% for asset in assets.rows %}
                            {% if product.cover_id != asset._id %}
                            <li><img src="{{ asset.view_url }}" /></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                
                <div id="carousel" class="flexslider">
                    <ul class="slides">
						{% for asset in assets.rows %}
                            {% if product.cover_id != asset._id %}
                            <li><img src="{{ asset.thumbnails.mini.view_url }}" /></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                
            </div>
        </div>
    </div> 
</div>
{% endblock %}