{%extends 'layout/base.html'%}
{% block title%}关于我们-{% endblock %}
{% block page_css %}
<style type="text/css">
    
</style>
{% endblock %}

{% block jquery %}
	
{% endblock %}

{% block content %}
<section class="about submenu">
	<div class="ui responsive grid">
		<div class="row">
			<div class="four wide column">
				关于我们
			</div>
			<div class="twelve wide right aligned column">
				<div class="ui horizontal list">
                    <a href="{{ app_url_guide }}/about" class="{{ css_page_about }} item">公司介绍</a>
                    <a href="{{ app_url_guide }}/brand" class="{{ css_page_brand }} item">品牌文化</a>
                    <a href="{{ app_url_guide }}/history" class="{{ css_page_history }} item">发展纪事</a>
                    <a href="{{ app_url_guide }}/prize" class="{{ css_page_prize }} item">资质荣誉</a>
                </div>
			</div>
		</div>
    </div>
</section>

<section class="about banner">
	<div class="ui responsive center aligned grid">
		<div class="row">
			<div class="center aligned twelve wide column">
				<h2 class="ui white header">
					<div class="content">
						公司介绍
						<div class="sub header"> 从国内第一个制造2.1 声道音箱的企业,到营销全球的国际知名音频品牌,十多年间麦博始终坚持音频领域的开拓与创新,让消费 者享受高品质的音乐生活,体验听觉的艺术,是麦博永不懈怠责任与追求。
						</div>
					</div>
				</h2>
			</div>
		</div>
    </div>
</section>
<section class="about content">
    <div class="ui responsive center aligned grid">
		<div class="row">
			<div class="left aligned twelve wide column">
               <p> 深圳麦博电器有限公司(以下简称“麦博”)成立于1998年,主要从事多媒体音箱、数码音箱、家居音箱、以及HiFi音响的研发、设 计、生产、销售与服务。公司坐落在深圳大工业区中心地段,占地15万平方米,拥有员工1500名。十多年的发展中,麦博始终保持着 稳健高速的发展势头。在国内200多个城市建有产品营销网络,产品销量和品牌知名度在行业中名列前茅;在全世界56个国家和地区 注册了商标和图型等知识产权,及拥有二十余项专利技术和独立进出口权,产品远销东南亚、欧洲、北美、中东,俄罗斯,东欧等80 个国家和地区,与全球众多世界著名品牌建立了稳定伙伴关系。目前公司销售收入、实现利税、出口创汇等指标均位居行业前列。</p>

               <p> 作为行业领导品牌,麦博一直在产品创新和技术领先方面走在前列。在行业发展之初,麦博研发的国内第一款“2.1音箱”M200的 面市、及“低音炮”概念的命名,使中国多媒体音响市场创建了新的产品品类,开启了中国多媒体音响行业的发展篇章。至今,2.1音 箱仍然是市场上出货量最大的产品。其后,麦博又开创了多媒体音箱2.1+1声道系统,为独立功放音箱的诞生和普及立下了汗马功劳。 2012年麦博又推出了具有革新意义的“净听技术”、无箱体净听音箱,推动了行业电声技术的创新、填补了技术空白。同期“云播放 -多房间无线音响技术” 、“净听技术”均被评定为 “深圳企业新纪录”,分别获得“国内同行领先”、“国内同行首创”的相关认定。</p>

               <p> 自2004年以来,麦博多媒体音箱产品销量每年以15-20%的速度增长,目前市场覆盖率为18.2%,已位居同行业第2名。同时, 国内行业权威机构--中国电子音响行业协会、著名的IT媒体ZOL、《电脑报》、《微型计算机》、《电脑爱好者》等媒体的调研中心, 每年发布的对品牌忠诚度、知名度、美誉度和市场占有率等多项指标的行业调研数据表明:我公司已经是连续四年排名第二的民营高科技公司。</p>

               <p> 十几年的发展中,麦博担任了国家相关行业标准的副组长起草单位,中国音响协会的理事单位,以及筹备中的多媒体音箱行业协 会副会长单位。麦博荣获“广东省著名商标”认定,多次获得政府职能部门颁发的权威奖项、及每年行业媒体给予的众多奖项。麦博 公司创办以来,得到了国家领导人的重大关注,并有部分国家领导人和省市领导到公司视察走访。</p>
               <p>成就今日,展望未来,深圳麦博有限公司通过加快新产品的开发和资本运营步伐,发挥“创新 敬业团结 第一”的企业精神,正 处于高速发展阶段。未来几年,麦博将持续投入新技术、新设计的研究开发,在国家中长期科技发展纲要的指引下,致力成为全球领 先的音频系统整体解决方案提供商。</p>
            </div>
        </div>
	</div>
</section>
{% endblock %}
