{%extends 'layout/base.html'%}
{% block title%}联系我们-{% endblock %}

{% block content %}
<section class="contact content">
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				<h2 class="ui header">
					<div class="content">
						联系我们
						<div class="sub header">
                            <p></p>
                            <p>深圳麦博电器有限公司</p>
                            <p>总部地址：深圳市坪山新区深圳大工业区宝梓南路深圳麦博工业园<small>（邮编：518122）</small></p>
                            <p>总机：0755-28291111 (80线)   传真：0755-28290000</p>
                            <p>营销中心：深圳市南山区科技园科技南十二路长虹科技大厦8楼</p>
                            <p>电话：0755-86243288   传真：0755-86243289</p>
                            <p>Email：service@microlab.com.cn <small>[国内]</small>
                            　　      microlab@microlab.com.cn <small>[国际]</small></p>
                            <p>免费服务热线：800-830-5652</p>
                            <p>免费服务热线：400-830-5652</p>
						</div>
					</div>
				</h2>
			</div>
		</div>
	</div>
</section>
{% endblock %}