{%extends 'layout/base.html'%}
{% block title%}发展纪事-{% endblock %}

{% block content %}
<section class="about submenu">
	<div class="ui responsive grid">
		<div class="row">
			<div class="four wide column">
				关于我们
			</div>
			<div class="twelve wide right aligned column">
				<div class="ui horizontal list">
                    <a href="{{ app_url_guide }}/about" class="{{ css_page_about }} item">公司介绍</a>
                    <a href="{{ app_url_guide }}/brand" class="{{ css_page_brand }} item">品牌文化</a>
                    <a href="{{ app_url_guide }}/history" class="{{ css_page_history }} item">发展纪事</a>
                    <a href="{{ app_url_guide }}/prize" class="{{ css_page_prize }} item">资质荣誉</a>
                </div>
			</div>
		</div>
    </div>
</section>
<section class="history banner">
	<div class="ui responsive center aligned grid">
		<div class="row">
			<div class="center aligned twelve wide column">
				<h2 class="ui white header">
					<div class="content">
						发展纪事
						<div class="sub header"> 国内第一台2.1声道音箱，国内第一台2.1+1独立功放音箱，国内第一台无线音箱，国内第一台无箱体净听音箱，全球第一款球面同轴音响系统，众多的第一，成就了麦博企业的发展，不断的创新，铸造了麦博品牌的精神。
						</div>
					</div>
				</h2>
			</div>
		</div>
    </div>
</section>
<section class="history content">
    <div class="ui responsive center aligned grid">
		<div class="row">
			<div class="left aligned twelve wide column">
                <div class="timeline container">
                    <div class="timeline block">
                        <div class="cover">
                            <img src="/images/hisx98.jpg" />
                        </div>
                        <div class="note">
                            1998年6月<br>
                            microlab实验室创立，专门研发高品质多媒体音响， 同年于行业内推出革命性产品“低音炮” 2.1多媒体系统。
                            <div class="dot"></div>
                        </div>
                        <div class="note">
                            1999年3月<br>
                            microlab与 美国 International microlab合资成立深圳麦蓝电子科技有限公司。
                            <div class="dot"></div>
                        </div>
                        <div class="note">
                            2000年2月<br>
                            产品全线通过长城认证。
                            <div class="dot"></div>
                        </div>
                    </div>
                    
                    <div class="timeline block">
                        <div class="cover">
                            <img src="/images/hisx02.jpg" />
                        </div>
                        <div class="note">
                            <div class="dot"></div>
                            2002年1月<br>
                            通过英国 NQA的ISO9001：2000质量管理体系认证。
                            <br><br>
                            
                            2002年6月<br>
                            全面推行 ERP项目。
                            <br><br>

                            2002年9月<br>
                            microlab麦博全面进入高速发展阶段，工厂扩大到60000多平方米，生产线亦开始向IT周边产品延伸。
                            <br><br>

                            2002年10月<br>
                            microlab麦博再度创新，首先推出“独立功率放大器”多媒体音响A-6301。
                            <br>
                        </div>
                    </div>
                    
                    <div class="timeline block">
                        <div class="cover">
                            <img src="/images/hisx03.jpg" />
                            <img src="/images/hisx0306.jpg" />
                        </div>
                        <div class="note">
                            <div class="dot"></div>
                            2003年5月<br>
                            同行业首家通过国家3C认证
                            <br><br>
                            
                            2003年6月<br>
                            麦博集团吸收优质资源，统一将原来的“ microlab麦蓝”更名为“microlab麦博 ” ，实施新的VI视觉识别系统。
                            <br><br>
                            
                            2003年10月<br>
                            首次将 Hi-end 概念引入多媒体音响，设计推出前后运放系统H-200。
                            <br><br>

                            2003年12月<br>
                            microlab特聘丹麦著名音响设计师Peter Larsen先生担任首席设计师，负责麦博扬声器单元的设计。
                            <br><br>
                        </div>
                    </div>
                    
                    <div class="timeline block">
                        <div class="cover">
                            <img src="/images/hisx04.jpg" />
                        </div>
                        <div class="note">
                            <div class="dot"></div>
                            2004年2月<br>
                            麦博集团横向跨越行业领域，开始生产对讲机通讯设备。<br><br>

                            2004年3月<br>
                            斥资1.5亿元人民币，总面积15万平方米的国际级音响制造基地麦柯蓝博工业园正式起建。<br><br>

                            2004年5月<br>
                            麦博进军音响核心技术取得成功，V12扬声器出炉。<br><br>

                            2004年10月<br>
                            V12扬声器技术成果向产品转化，梵高系列6款产品整装待发
                            <br><br>
                        </div>
                    </div>
                    
                    <div class="timeline block">
                        <div class="cover">
                            <img src="/images/hisx05.jpg" />
                        </div>
                        <div class="note">
                            <div class="dot"></div>
                            2005年1月<br>
                            梵高系列产品全面上市<br><br>

                            2005年12月<br>
                            麦博排名跃居多媒体音响行业前列，成为中国乃至世界音响业最有影响力品牌之一
                            <br><br>
                        </div>
                    </div>
                    
                    <div class="timeline block">
                        <div class="cover">
                            <img src="/images/hisx06.jpg" />
                        </div>
                        <div class="note">
                            <div class="dot"></div>
                            2006年1月<br>
                            麦博确定了新的战略走向，逐步调整产品线，坚持走精品化、数码化、时尚化路线。<br><br>

                            2006年12月<br>
                            位于深圳大工业区的麦博电器工业园全面投入使用。
                            <br><br>
                        </div>
                    </div>
                    
                    <div class="timeline block">
                        <div class="cover">
                            <img src="/images/hisx08.jpg" />
                        </div>
                        <div class="note">
                            <div class="dot"></div>
                            2008年1月<br>
                            麦博获国家税务局颁发的”深圳市纳税直通户“
                            <br><br>
                        </div>
                    </div>
                    
                    <div class="timeline block">
                        <div class="cover">
                            <img src="/images/hisx10.jpg" />
                        </div>
                        <div class="note">
                            <div class="dot"></div>
                            2010年1月<br>	
                            麦博获环球市场颁发的可信赖伙伴
                            <br><br>

                            2010年3月<br>	
                            国内首款无线音箱麦博FC361W上市
                            <br><br>

                            2010年12月<br>
                            麦博获得“广东省著名商标”认证
                            <br><br>
                        </div>
                    </div>
                    
                    <div class="timeline block">
                        <div class="note">
                            <div class="dot"></div>
                            2011年6月<br>
                            麦博推出高端Hi-Fi品牌玄道
                            <br><br>
                        </div>
                    </div>
                    
                    <div class="timeline block">
                        <div class="cover">
                            <img src="/images/hisx12.jpg" />
                        </div>
                        <div class="note">
                            <div class="dot"></div>
                            2012年3月<br>	
                            玄道音箱获得2012美国CES设计与工程创新奖<br><br>

                            2012年7月<br>	
                            麦博正式发布首创的净听技术及新梵高系列音箱<br><br>

                            2012年10月<br>	
                            麦博首款净听技术音箱FC50上市<br><br>

                            2012年10月<br>
                            净听技术-无箱体音箱技术、云播放-多房间无线音响技术，获得第十一届“深圳企业新纪录”认定为国内同行首创，并经公证处公证。
                            
                            <div class="end dot"></div>
                        </div>
                    </div>
                    
                </div>
                
               
               
            </div>
        </div>
	</div>
</section>
{% endblock %}
