{%extends 'layout/base.html'%}
{% block title%}服务与支持-{% endblock %}

{% block content %}
<section class="service banner">
	<div class="ui responsive center aligned grid">
		<div class="row">
			<div class="center aligned twelve wide column">
				<h2 class="ui white header">
					<div class="content">
                        欢迎使用麦博服务与支持
						<div class="sub header"> 服务只有更好，没有最好，满意只有起点，没有终点，我们随时为你提供帮助</div>
					</div>
				</h2>
			</div>
		</div>
    </div>
</section>
<section class="service content">
	<div class="ui responsive center aligned grid">
		<div class="four column row">
			<div class="center aligned column">
                <div class="xitem">
                    <h3 class="ui header">
    					<div class="content">
                            售后服务
    						<div class="sub header">
                                <small>你只管用，剩下的我们来解决</small>
                            </div>
    					</div>
                    </h3>
                    <a href="" class="link">查看产品保修条款</a>
                </div>
            </div>    
            <div class="center aligned column">
                <div class="xitem">
                    <h3 class="ui header">
    					<div class="content">
                            销售网点
    						<div class="sub header">
                                <small>不论身处何处，总能找到离你最近的</small>
                            </div>
    					</div>
                    </h3>
                    <a href="" class="link">寻找最近销售网点</a>
                </div>
            </div>    
            <div class="center aligned column">
                <div class="xitem">
                    <h3 class="ui header">
    					<div class="content">
                            门店展示
    						<div class="sub header">
                                <small>百闻不如一见，欢迎到店体验</small>
                            </div>
    					</div>
                    </h3>
                    <a href="" class="link">查看产品陈列展示</a>
                </div>
            </div>    
            <div class="center aligned column">
                <div class="xitem">
                    <h3 class="ui header">
    					<div class="content">
                            资料下载
    						<div class="sub header">
                                <small>没那么简单，了解她更爱上她</small>
                            </div>
    					</div>
                    </h3>
                    <a href="" class="link">查找用户指南或软件下载</a>
                </div>
                
			</div>
		</div>
        <div class="row">
            <div class="column">
                <div class="search">
                    <h3 class="ui header">
    					<div class="content">
                            产品真伪查询
    						<div class="sub header">
                                <small>请输入产品条码前三位或4位英文字母，以及后6位阿拉伯数字，字母与数字间无空格</small>
                            </div>
    					</div>
                    </h3>
                    <div class="ui form">
                        <div class="inline field">
                            <input type="text" placeholder="Full Name" size="40">
                            <div class="ui submit black button">搜索</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>
{% endblock %}